<div class="main-form">
  <div class="main-header">
    <div class="header">
      <Span class="title">Customers Token</Span>
      <div>

      </div>
    </div>
  </div>
  <div class="main-form-area">
    <div class="table-area">
      <table [dataSource]="dataSource" mat-table>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell> Action</th>
          <td *matCellDef="let element" mat-cell>
<!--            <button (click)="onUpdate(element)" color="primary" mat-icon-button>-->
<!--              <mat-icon>edit</mat-icon>-->
<!--            </button>-->
<!--            <button (click)="onDelete(element)" color="warn" mat-icon-button>-->
<!--              <mat-icon>delete</mat-icon>-->
<!--            </button>-->
            <button (click)="onAction(element)" mat-icon-button style="color: green">
              <mat-icon>qr_code_scanner</mat-icon>
            </button>
            <!--            <button mat-icon-button style="color: #ff3b3b" ><mat-icon>remove_circle</mat-icon></button>-->
            <!--            <button mat-icon-button style="color: #4f3bff" ><mat-icon>autorenew</mat-icon></button>-->

          </td>
        </ng-container>
        <ng-container  matColumnDef="tid">
          <th *matHeaderCellDef mat-header-cell> tid </th>
          <td *matCellDef="let element" mat-cell> {{element['tid']}} </td>
        </ng-container>
        <ng-container  matColumnDef="fillingTimeAnd">
          <th *matHeaderCellDef mat-header-cell> Filling Time And Date</th>
          <td *matCellDef="let element" mat-cell> {{element['fillingTimeAndDate']}} </td>
        </ng-container>
        <ng-container  matColumnDef="requestQuota">
          <th *matHeaderCellDef mat-header-cell> Request Quota </th>
          <td *matCellDef="let element" mat-cell> {{element['requestQuota']}} </td>
        </ng-container>
        <ng-container  matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell> status </th>
          <td *matCellDef="let element" mat-cell> {{element['status']}} </td>
        </ng-container>
        <ng-container  matColumnDef="tokenExp">
          <th *matHeaderCellDef mat-header-cell> Token Exp. </th>
          <td *matCellDef="let element" mat-cell> {{element['tokenExpDate']}} </td>
        </ng-container>
        <ng-container  matColumnDef="vehicleRegNo">
          <th *matHeaderCellDef mat-header-cell> Vehicle Reg No. </th>
          <td *matCellDef="let element" mat-cell> {{element['vehicleRegNo']}} </td>
        </ng-container>
        <ng-container  matColumnDef="fuelStationFk">
          <th *matHeaderCellDef mat-header-cell> fuel Station </th>
          <td *matCellDef="let element" mat-cell> {{element['fuelStationFk']['fid']}} </td>
        </ng-container>
        <ng-container  matColumnDef="pidFk">
          <th *matHeaderCellDef mat-header-cell> Pid </th>
          <td *matCellDef="let element" mat-cell> {{element['pidFk']['pid']}} </td>
        </ng-container>
        <ng-container  matColumnDef="usernameFk">
          <th *matHeaderCellDef mat-header-cell> User Name </th>
          <td *matCellDef="let element" mat-cell> {{element['usernameFk']['username']}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
      </table>

    </div>

  </div>
</div>


